@import "c/udcs_lwc_css_lib";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  transition: all 0.2s;
}

.d-inline {
  display: inline;
}

.track_trace_d-inline-block {
  display: inline-block;
}

.track_trace_container {
  display: flex;
  position: relative;
  width: 100%;
  height: calc(100vh - 122px);
  overflow: hidden;
}

.iframefullwidth {
  width: 100vw !important;
}

.iframefullwidthwithsidebar {
  width: 80vw;
}

.vfFrameparent {
  float: right;
  height: 94vh;
  width: 100%;
}

.track_trace_category {
  width: 310px;
  padding: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom-width: 0.5vh;
  border-bottom-style: ridge;
  background-color: #ffffff;
  border-bottom: 0.5px solid #cccccc;
  cursor: pointer;
}

.track_trace_category.cat-name {
  font-size: 15px;
  line-height: 14px;
  text-transform: uppercase;
  color: #4d4e53;
  display: flex;
  align-items: center;
  padding: 12px 10px;
  cursor: pointer;
}

.track_trace_vehicle_dropdown_header {
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
  padding: 12px 10px;
  text-align: center;
}

.track_trace_vehicle_dropdown_header_jpn {
  background-color: #e1e1e1;
  padding: 12px 10px;
  text-align: center;
}

.backbtn {
  font-size: 15px;
  line-height: 20px;
  color: #4d4e53;
  margin-left: 6.72px;
  text-decoration: none;
}

.back-click {
  display: none;
  align-items: center;
  cursor: pointer;
}

.back-click_jpn {
  display: flex;
  cursor: pointer;
}

.view-list {
  line-height: 26px;
  letter-spacing: 0.4375px;
  color: #00829b;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.track_trace_ffs_sidebar_search_container {
  text-align: center;
  background-color: #ececec;
  padding: 10px 0;
  border-bottom: 0.5px solid #a6a6a6;
  position: relative;
}

.track_trace_ffs_sidebar_search_container > input {
  width: 264px;
  height: 35px;
  border: 0;
  border-radius: 25px;
  padding: 8px 27px 8px 32px;
  cursor: pointer;
}

.track_trace_ffs_sidebar_search_container > input:focus-visible {
  border: 2px solid green;
  outline: none;
}

.track_trace_ffs_sidebar_search_container > input::placeholder {
  color: #4d4e53;
}

.ffs_sidebar_search input[type="search"] ::placeholder {
  color: #4d4e53;
  opacity: 1;
}

.ffs_search_icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 10px;
}

.searchbox_container {
  position: relative;
  width: 264px;
  margin: auto;
}

.ffs_sidebar_search {
  width: 264px;
  height: 35px;
  border: 0;
  border-radius: 25px;
  padding: 8px 27px 8px 32px;
  cursor: pointer;
  font-size: 12px;
  text-overflow: ellipsis;
}

.ffs_searchClear_icon {
  position: absolute;
  top: 50%;
  border-left: 1px solid rgba(128, 128, 128, 0.4);
  padding: 0px 0px 0px 7px;
  right: 12.5%;
  width: 20px;
  height: 25px;
  transform: translateY(-50%);
}

.track_trace_dropdown_body {
  display: flex;
  text-align: center;
  font-size: 20px;
  justify-content: center;
  cursor: pointer;
}

.track_trace_dropdown_body .track_trace_items:hover {
  background-color: #edf8ff;
}

.track_trace_dropdown_body .track_trace_items {
  margin: auto;
  font-size: 10px;
  line-height: 14px;
  text-align: center;
  color: #454545;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 0.5px solid #e1e1e1;
  padding: 6px 5px;
  justify-content: space-around;
  height: 6.3125rem;
  width: 100%;
  touch-action: none;
}

.track_trace_dropdown_body {
  border-bottom: 0.5px solid #a6a6a6;
}

.track_trace_vehicle_dropdown_body {
  height: 6.3125rem;
  border-bottom: 0.5px solid #a6a6a6;
}

.track_trace_category_group {
  justify-content: space-between;
  font-size: 15px;
  color: #4d4e53;
  cursor: pointer;
  display: block;
}

.track_trace_sub_category {
  border-bottom: 0.5px solid #cccccc;
}

.track_trace_vehicle_category_group {
  overflow-y: scroll;
  height: calc(100vh - 315px);
  overflow: overlay;
  background-color: #fff;
}

.track_trace_vehicle_category_group::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

.track_trace_vehicle_category_group::-webkit-scrollbar-thumb {
  background-color: #a6a6a6;
  border-radius: 102.5px;
}

.track_trace_category_item {
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 14px;
  font-size: 0.9375rem;
  line-height: 14px;
  color: #4d4e53;
  touch-action: none;
}

.track_trace_category_item:hover {
  background-color: #edf8ff;
}

.track_trace_categoryvehicle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px;
  padding-left: 48px;
  font-size: 15px;
  line-height: 14px;
  color: #4d4e53;
  border-bottom: 0.5px solid #cccccc;
}

.track_trace_categoryvehicle:hover {
  background-color: #edf8ff;
}

.track_trace_tracehistory {
  width: 310px;
  height: 100%;
  display: inline-block;
  background: #ffffff;
}

.track_trace_history_header {
  display: flex;
  align-items: center;
  padding: 0.75rem 0.625rem;
  background: #e1e1e1;
}

.track_trace_history_header .back {
  font-size: 15px;
  line-height: 20px;
  color: #4d4e53;
  cursor: pointer;
}

.track_trace_history_header .reg {
  font-weight: 700;
  line-height: 14px;
  color: #454545;
  margin-left: 40px;
}

.track_trace_history_body {
  display: flex;
  justify-content: space-between;
  background: #ececec;
  padding: 9px;
}

.track_trace_event_filter_body {
  width: 100%;
  padding: 10px 30px;
  background-color: white;
  border-bottom: 0.5px solid #ccc;
  margin-left: 4px;
}

.thb-right-content-grey {
  color: #ccc;
  cursor: pointer;
}

.thb-right-content-green {
  color: #00829b;
  cursor: pointer;
}

.track_trace_history_inputbox {
  padding: 0 33px 16px;
  background: #ececec;
  cursor: default;
}

.track_trace_range-box {
  position: relative;
  width: 254px;
  cursor: pointer;
  z-index: 0;
}

.border {
  border: 2px solid #00829b;
}

.track_trace_range-box-border {
  background: #ffffff;
  width: 249px;
  z-index: 0;
}

.track_trace_range_text {
  display: flex;
  position: absolute;
  left: 17px;
  top: 9.94px;
  color: #454545;
}

.begining,
.end {
  width: 90px;
  display: flex;
  flex-direction: column;
  align-items: end;
  padding-right: 15px;
}

.track_trace_range_icon {
  position: absolute;
  right: 5px;
  top: 0.74rem;
}

.track_trace_no_event {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding-top: 90px;
  padding-bottom: 15px;
  background: white;
  display: none;
}

.track_trace_noevent_text {
  padding-top: 70px;
  font-weight: 500;
  font-size: 18px;
  line-height: 14px;
  color: #bfbfbf;
  margin: auto;
  text-align: center;
  background: white;
}

.track_trace_events {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.8125rem 10px;
  border-bottom: 0.5px solid #cccccc;
  background: #ffffff;
}

.track_trace_event_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding-left: 49px;
  padding-right: 23px; */
  height: 38px;
  border-bottom: 0.5px solid #cccccc;
  cursor: pointer;
  padding: 10px;
}

.track_trace_event_items .text {
  color: #454545;
  height: 28px;
}

.track_trace_event_item_cotainer {
  overflow-y: scroll;
  height: calc(100vh - 322px);
  overflow: overlay;
  background: white;
}

.track_trace_event_item_cotainer::-webkit-scrollbar {
  width: 5px;
  background: transparent;
}

.track_trace_event_item_cotainer::-webkit-scrollbar-thumb {
  background-color: #a6a6a6;
  border-radius: 102.5px;
}

.track_trace_cal_green_circle {
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='16' cy='16' r='16' fill='%2300829B'/%3E%3C/svg%3E");
  width: 32px;
  height: 32px;
  display: grid;
  align-items: center;
  text-align: center;
  color: white !important;
}

@media screen and (max-width: 480px) {
  .track_trace_container {
    width: 100%;
    overflow-x: scroll;
    height: auto;
  }
}

.add-textbox {
  font-size: 15px;
  color: #a6a6a6;
  border: none;
  outline: none;
  cursor: pointer;
}

.track_trace_vehiclecontainer {
  width: 100%;
  max-width: 310px;
  height: 580px;
  background-color: #ffffff;
  display: inline-block;
}

.iframefullwidthwithsidebar {
  width: 77.2%;
}

iframe.vfFrame {
  width: 100%;
  height: calc(100vh - 122px);
  overflow-y: scroll;
  border: 0vw inset;
  /* position: fixed;
  top: 0; */
}

.SelectedTraceEvent {
  background-color: #edf8ff;
}

.backdrop {
  position: fixed;
  z-index: 900;
  inset: 0 0 0 0;
}

.c-udcs-calander {
  width: 253px;
  position: absolute;
  top: 136px;
  left: 33px;
  background-color: #fff;
  z-index: 1000;
  display: flex;
}

.rotate {
  transform: rotateX(180deg);
}

.track_trace_group-1 > img {
  cursor: pointer;
}

.spinner {
  width: 100%;
  height: 100%;
  inset: 0;
  z-index: 1;
}

.slds-spinner_container {
  background: #fff;
}

.none {
  display: none;
}

.caps {
  text-transform: uppercase;
}

.active {
  background-color: #edf8ff;
}

.sidebarIcon {
  width: 27px;
  height: 27px;
  margin-right: 10px;
}

/*Page title bar css */

.dashboard-menu {
  background-color: #3a3845;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 3.5vh;
  justify-content: space-between;
}

.toggleicon {
  padding-left: 20px;
  padding-right: 40px;
  cursor: default;
}

.allMenuBar {
  cursor: pointer;
}

.title-name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 1px;
  text-transform: uppercase;
  color: #ffffff;
  padding-left: 1vw;
  text-transform: uppercase;
  cursor: default;
}

.refresh-icon{
  margin-right: 2px;
}

.refresh{
  /* width: 87px; */
  height: 26px;
  background: gray;
  color: white;
  border-radius: 30px;
  border: white 1px solid;
  font: "Roboto";
  font-family: Roboto;
font-weight: 400;
font-size: 14px;
line-height: 16px;
letter-spacing: 0px;
border: 1.5px white solid;
    text-align: center;
    display: flex;
        justify-content: space-around;
    align-items: center;
    padding: 0px 5px;
    background: #4d4e53;
}

.refresh-button {
  display: flex;
  padding-right: 35px;
}

.refresh-timing {
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  color: white;
  padding-left: 10px;
}

@media screen and (max-width: 480px) {
  .toggleicon {
    padding-left: 30px;
    padding-right: 40px;
  }

  .title-name {
    text-transform: uppercase;
    padding: 12px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #ffffff;
  }

  iframe.vfFrame {
    height: calc(100vh - 72px);
  }
}

/*  Responsive */
@media screen and (max-width: 480px) {
  *,
  body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  .dashboard-menu {
    padding: 0px 15px;
    margin: 0;
    display: flex;
    align-items: center;
  }

  .toggleicon {
    padding: 0;
    margin: 0 48px 0px 30px;
  }

  .title-name {
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
  }

  .udc-titlebar-reports-icon {
    margin-right: 18px;
  }
}

.traceTiming {
  padding-left: 40px;
  color: #000000;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}

.technical-issue-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.technical-issue-container {
  width: 540px;
  background: white;
  padding: 35px;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.technical-issue-title {
  color: #4d4e53;
  font-size: 18px;
  font-weight: 700;
}

.technical-issue-description {
  color: #4d4e53;
  font-size: 14px;
}

.technical-issue-close-icon {
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}

.technical-issue-button-container {
  text-align: end;
}

.back-to-calendar {
  background: none;
  border: 0.5px solid #000000;
  padding: 10px 20px;
}

.session_limit_exceeded_wrapper {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.session_limit_exceeded_container {
  position: relative;
  background: white;
  width: 540px;
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 70px;
}

.session_limit_exceeded_header {
  font-weight: 700;
  font-size: 22px;
}

.session_limit_exceeded_text {
  font-size: 16px;
}

.session_limit_exceeded_button {
  width: 135px;
  height: 35px;
  background: #00829b;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 70px;
}

.session_limit_exceeded_close {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .track_trace_vehicle_dropdown_swiper {
    padding: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    background: #fff;
    font-size: 15px;
    color: #00829b;
    border-bottom: 1px solid #ececec;
    touch-action: none;
  }

  .track_trace_vehiclecontainer {
    width: 100%;
    max-width: unset;
    position: absolute;
    /* top: calc(100% - 40px); */
    bottom: 0;
    /* height: auto; */
    height: auto;
    background: #fff;
  }

  .track_trace_ffs_sidebar_search_container {
    position: absolute;
    width: 100%;
    top: 0;
  }

  .swipe_up {
    top: 55px !important;
    height: 100% !important;
    background: #fff;
    z-index: 1;
  }

  .c-udcs-calander {
    width: 100%;
    height: 100%;
    position: unset;
  }

  .calendar-container {
    height: 100%;
  }

  .calRow-one {
    height: 100%;
    z-index: 999999999999;
    width: 100%;
    left: unset;
  }

  .track_trace_tracehistory {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
  }

  .track_trace_history_inputbox {
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .track_trace_vehicle_dropdown_body,
  .track_trace_dropdown_body,
  .track_trace_vehicle_category_group {
    display: none;
  }

  .vfFrameparent {
    float: none;
    height: 100%;
  }

  .searchbox_container {
    position: relative;
    width: 264px;
    margin: auto;
  }

  .ffs_sidebar_search {
    width: 264px;
    height: 35px;
    border: 0;
    border-radius: 25px;
    padding: 8px 27px 8px 32px;
    cursor: pointer;
    background-color: #fff;
  }

  .ffs_search_icon {
    left: 10px;
  }

  .mapMenu,
  .mapMenuEvtDetials {
    width: 160px;
    display: flex;
    height: 54px;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    position: absolute;
    background: #fff;
    bottom: 58px;
    right: 8px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    z-index: 3;
  }

  .track_trace_range-box {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .track_trace_range_text {
    left: 20px;
    top: 50%;
    color: #454545;
    transform: translateY(-50%);
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  .traceTiming {
    padding: 0;
  }

  .begining {
    align-items: flex-end;
    width: auto;
  }

  .end {
    align-items: flex-start;
  }

  .track_trace_history_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }

  .trace_history_chassis {
    margin-left: 0 !important;
  }

  .trace_history_modal_wrapper {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: grid;
    place-items: center;
    background: hsla(0, 0%, 0%, 0.7);
  }

  .trace_history_modal {
    width: 270px;
    height: 149px;
    border-radius: 23px;
    background: #f2f2f2cc;
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .trace_history_modal_desc {
    font-size: 18px;
    font-weight: 500;
    flex: 1;
    display: flex;
    align-items: center;
    color: #000;
    padding: 10px;
  }

  .trace_history_modal_buttons {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    border-top: 0.5px solid #a0a0a3;
  }

  .trace_history_modal_cancel {
    color: #007aff;
    font-size: 17px;
    flex: 1;
    text-align: center;
    cursor: pointer;
  }

  .trace_history_modal_close {
    color: #e83646;
    font-size: 17px;
    flex: 1;
    text-align: center;
    cursor: pointer;
  }
  .cal-sidebar-header {
    display: flex;
    justify-content: center;
    padding: 15px;
    align-items: center;
    background: #e1e1e1;
  }
  .cal-back_button {
    position: absolute;
    left: 5px;
    display: flex;
    gap: 5px;
    align-items: center;
  }
  .cal-sidebar-header > p {
    font-weight: 700;
    font-size: 16px;
    color: #4d4e53;
  }
  .show_events_route_summary {
    position: absolute;
    bottom: 0;
    background: #fff;
    display: flex;
    height: 70px;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    color: #00829b;
    font-size: 16px;
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .events_history_mobile {
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 0px -2px 4px 0px rgba(0, 0, 0, 0.25);
  }
  .events_history_mobile_header {
    background: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
  }
  .events {
    font-size: 16px;
    font-weight: 700;
  }
  .close_icon_events {
    position: absolute;
    right: 20px;
  }
  .route_summary_mobile_wrapper {
    position: absolute;
    bottom: 0;
    background: #fff;
    width: 100%;
  }
  .route_summary_mobile_header {
    position: relative;
    display: flex;
    justify-content: center;
    height: 60px;
    align-items: center;
    background: #ececec;
  }
  .title_summary {
    font-size: 16px;
    font-weight: 700;
  }
  .close_icon_summery {
    position: absolute;
    right: 20px;
  }
  .route_summary_body_elemeny {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }

  .value {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .track_trace_event_item_cotainer {
    height: 300px !important;
  }

  .spinner-wrapper {
    opacity: 85%;
  }

  .group_height {
    height: calc(100dvh - 342px);
  }

  .mobile_search,
  iframe,
  .track_trace_history_header {
    touch-action: none;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select,
  textarea,
  input {
    font-size: 16px !important;
  }
}

.error_toast {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 10px;
  border-radius: 10px;
  border: 0.5px solid #4d4e53;
}

.toast_notification_wrapper {
  position: fixed;
  right: 55px;
  bottom: 30px;
  z-index: 10;
}

.toast_close {
  cursor: pointer;
}

.toast_text {
  font-weight: 500;
  font-size: 15px;
  color: #4d4e53;
}