/* Track Trace Widget OW */
@import "c/udcs_lwc_css_lib";

*,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.mapwidget {
  /* height: 282px; */
  width: 360px;
  background-color: #fff;
  /* box-shadow: 13px 9px 12px 0px rgb(0 0 0 / 18%); */
  cursor: pointer;
  position: relative;
  height: 130px;
}

.jp-padding {
  padding: 15px 6px;
}

.widget-header {
  display: flex;
  gap: 16px;
  align-items: center;
  background-color: #4c4948;
  height: 50px;
  color: white;
  font-size: 16px;
  padding-left: 25px;
  cursor: default;
}

.widget-content {
  /* padding: 10px 7px; */
  cursor: pointer;
  font-size: 14px;
  position: relative;
}

.content {
  display: flex;
  flex-direction: row;
  border-top: 0.5px solid #a1a1a1;
  height: 130px;
}

.content > div {
  height: 130px;
  flex: 0 0 50%;
}

.content:hover {
  background-color: #f2fcfe;
}

.left-body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.right-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.icon-50 {
  height: 50px;
  width: 50px;
}

.count {
  font-weight: 600;
  font-size: 60px;
  line-height: 70px;
  color: #4d4e53;
}

/* .widget-content>div:nth-child(2) {
  color: #57585E;
  font-size: 14px;
  font-weight: 300;
  padding-top: 3px;
} */

.spinner-container {
  position: relative;
  height: 300px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.caps {
  text-transform: uppercase;
}

.widget-width {
  left: unset !important;
  bottom: unset !important;
  top: unset !important;
  right: unset !important;
  position: absolute !important;
  width: 100% !important;
  height: 232px !important;
}

@media screen and (max-width: 480px) {
  .mapwidget {
    width: unset;
  }
}