@import "c/udcs_lwc_css_lib";

* {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 12px;
  letter-spacing: 0.24px;
}

/* The Modal (background) */
.modal {
  position: fixed;
  /* Stay in place */
  z-index: 1001;
  /* Sit on top */
  padding-top: 70px;
  /* Location of the box */
  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
  cursor: auto;
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 90%;
  position: relative;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  /* float: right; */
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  right: 62px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

/*  3333333333333333333333333 */

.fleet-container {
  background-color: #ffffff;
  margin-top: -20px;
}

/* For Label  */

.label-content {
  font-weight: 500;
  font-size: 22px;
  line-height: 20px;
  justify-content: center;
  color: #4d4e53;
  text-align: center;
}

.label-content p {
  font-weight: bold;
  font-size: 22px;
  margin: auto;
  color: #4d4e53;
  padding: 29px 0px 35px 0px;
}

/* For the row  */
.row-container {
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.625rem;
  width: 100%;
  flex-wrap: wrap;
  gap: 10px;
}

/* for search  */

.for-search {
  background-color: #ffffff;
  display: flex;
  height: 35px;
  /* max-width: 320px; */
  align-items: center;
  cursor: auto;
  border: 0.5px solid #a6a6a6;
  box-sizing: border-box;
  border-radius: 21px;
  flex-basis: 33%;
}

/* search button  */

.search-btn {
  padding-left: 1rem;
  padding-right: 0.375rem;
  /* padding-top: 0.375rem; */
}

/* input  */

.input-search {
  padding: 1rem;
  font-size: 14px;
  line-height: 16px;
  color: #4d4e53;
  cursor: pointer;
}

.input-search ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  font-size: 14px;
  line-height: 16px;
  color: #4d4e53;
  opacity: 1;
}

/* for pagination  */

.for-pagination {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-basis: 33%;
  text-align: center;
  justify-content: center;
  /* padding-right: 14%; */
}

.for-pagination p {
  font-size: 16px;
  color: #464545;
  margin: 0;
  min-width: 60px;
}

.for-export {
  /* flex-basis: 33%; */
  text-align: end;
}

/* for export */

/* .for-export{
  padding-right: 3rem;
} */
.for-export button {
  background-color: #00829b;
  width: 150px;
  height: 35px;
  color: #ffffff;
  border: none;
  font-size: 15px !important;
}

/* Table  */

table {
  /* border: 0.5px solid #CCCCCC; */
  border-collapse: collapse;
  width: 100%;
}

.table-container {
  overflow: overlay;
  border: 0.4px solid #a6a6a6;
  height: 59vh;
}

@media only screen and (min-width: 1370px) {
  .table-container {
    overflow: overlay;
    border: 0.4px solid #a6a6a6;
    height: 73vh;
  }
}

.table-container::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

/* Track */
.table-container::-webkit-scrollbar-track {
  background: transparent;
  border-radius: 3px;
}

.table-container::-webkit-scrollbar-thumb {
  background: grey;
  border-radius: 3px;
  height: 186px;
}

/* table header  */

tbody {
  border: 0.5px solid #cccccc;
}

/* table header row  */

tr {
  border: 0.5px solid #a6a6a6;
}

/* table head  */

.table-container thead th {
  height: 40px;
  position: sticky;
  /* vertical-align: bottom; */
  z-index: 3;
  background-color: #ececec;
  padding: 5px 5px 0px 7px;
  text-align: left;
  min-width: 90px;
  top: -1px;
  /* border-right: 0.5px solid #4d4e53 !important; */
}

/* font styling  */
th::after {
  content: "";
  border-right: 0.4px solid #4d4e53;
  position: absolute;
  right: 0;
  height: 100%;
  top: 0;
}

th p {
  font-size: 13px;
  line-height: 12px;
  color: #4d4e53;
  /* width: 85%; */
  line-height: 15px;
}

th :nth-child(9) {
  width: 100%;
}

th span::after {
  content: "\0026";
}

/* table body cell */

td {
  font-size: 13px;
  color: #4f5054;
  height: 58px;
  padding: 7px;
  line-height: 14px;
}

td :nth-child(5) {
  text-align: right !important;
  padding: 0 !important;
}

.right-align {
  text-align: right;
  padding: 5px;
}

/* The Close Button */

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  /* opacity: 1; */
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.view-list {
  display: flex;
  gap: 6px;
  text-align: center;
}

.view-list > div {
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  .modal-content {
    margin-bottom: 8rem;
    margin-left: 0;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 50px;
    border: 1px solid #888;
    width: 100%;
    overflow-x: scroll;
    display: inline-block;
    top: 0;
    position: relative;
  }

  .close {
    /* float: right; */
    font-size: 30px;
    line-height: 1;
    color: #000;
    /* opacity: 1; */
  }

  .row-container {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.625rem;
    gap: 10px;
  }

  .myTable {
    width: 100%;
  }

  .for-pagination {
    margin: 0;
    order: 1;
  }
}

.truncate {
  display: inline-block;
  max-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content-section-text {
  position: relative;
  display: flex;
  cursor: default;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 8px;
}

.content-section-text .tooltiptext1 {
  visibility: hidden;
  background-color: #ececec;
  color: #4d4e53;
  padding: 4px 8px 4px 9px;
  font-size: 12px;
  z-index: 2;
  cursor: default;
}

.content-section-text:hover .tooltiptext1 {
  visibility: visible;
}

.fleetStatusSearch {
  border: none;
  outline: none;
  border-radius: 21px;
  color: #4d4e53;
  flex-grow: 1;
}

.previous {
  display: contents;
}

.next {
  display: contents;
}

/* .header-row {
  border-bottom: none;
} */

.header-head {
  padding: 4px 9px;
}

.head2-export {
  position: relative;
  flex-basis: 32%;
  display: flex;
  justify-content: flex-end;
}

.export-button {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  /* padding: 7px 38px 6px 40px; */
  border: 1px solid #00829b;
  height: 34px;
  width: 100px;
  justify-content: center;
}

.show {
  display: block !important;
}

.triangle {
  position: absolute;
  width: 14px;
  height: 14px;
  border-bottom: solid 12px #fff;
  border-left: solid 12px transparent;
  border-right: solid 12px transparent;
  top: -13px;
  right: 31px;
}

.head-right-export {
  position: absolute;
  width: 230px;
  height: 50px;
  display: none;
  background-color: #f0fcfe;
  align-items: center;
  top: 35px;
  /* left: 189px; */
  margin-right: 105px;
  box-shadow: 4px 3px 10px 5px rgb(0 0 0 / 24%);
  z-index: 1000;
}

.head-right-export > div:nth-child(1) {
  margin: 0 15px;
}

.head2-right-text {
  color: #00829b;
  cursor: pointer;
}

.head2-right-icon {
  display: flex;
}

.backdrop {
  position: fixed;
  z-index: 900;
  inset: 0 0 0 0;
  background-color: transparent;
  display: none;
}

.header-head > p {
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-center {
  text-align: center;
}

.header-left {
  text-align: left;
}

.vehicleid {
  border-right: 0.5px solid #a6a6a6;
}

.center-align {
  text-align: center;
  padding: 0;
}

.one-section {
  width: 25px;
  left: 37%;
}

.second-section {
  width: 50px;
  left: 26%;
}

.width-ign {
  width: 75px;
}

.width-moving {
  width: 110px;
}

.showaddress {
  text-align: left;
  width: 120px;
  padding: 6px;
}

.reverseaddress {
  color: #00829b;
}

.rotate {
  transform: rotate(180deg);
}

.descendingicon {
  transform: rotate(180deg);
}