p {
  border: 0;
  margin: 0;
  padding: 7%;
  text-align: left;
  height: 50px;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #4d4e53;
}